---
layout: layout

title: 'TSUSHIMA BORDER ISLAND FES 2016｜LINE-UP'
description: '国境の島で開催される、島をあげた祭り。対馬でつながる『日韓×ミュージック×テクノロジー』'
keywords: 対馬,長崎,韓国,日韓,九州,TBIF,対馬フェス,フェス,音楽,テクノロジー

og_title: 'TSUSHIMA BORDER ISLAND FES 2016｜LINE-UP'
og_type: website
og_url: 'lineup/music/ifusarasa.html'
og_description: '国境の島で開催される、島をあげた祭り。つなぐ音、つなぐ未来 〜対馬でつながる 日韓×ミュージック×テクノロジー〜'
og_image: 'lineup/music/sarasa_large.jpg'
---

main#page-top
  .page-header#guideline
    .page-header-left
      = image_tag '/images/logo_green.png', :alt => 'logo'
    .page-header-center
      .page-header-title
        .page-header-title-en.font-amatic
          | LINE-UP
        .page-header-title-jp
          | 出演者・出店
        .page-category.font-amatic
          = link_to 'PROFILE', '#performer-profile'
    .page-header-right.font-amatic
      ol.breadcrumb.clearfix
        li
          = link_to 'HOME', 'index.html'
        li
          = link_to 'LINE-UP', 'lineup.html'
        li.current
          = link_to '依布サラサ', '#'
    .clearfix
    .position-initial
  .page-wrapper
    .page-heading.font-amatic
      span
        | PROFILE
    #performer-profile
      .performer-name
        | 依布サラサ
      // 横2100px縦1400px、横1800px縦1200px、横1500px縦1000px
      .performer-img
        = image_tag '/images/lineup/music/sarasa_large.jpg', :alt => '依布サラサ'
      .performer-profile
        | 井上陽水を父に、石川セリを母に持ち、音楽に囲まれた環境の中で育つ。
        br
        | 父との他愛ない会話の中から生まれた「長い猫」という詩に曲が乗せられ、楽曲として世に放たれたということをきっかけに、 作詞家“依布サラサ”としての活動を開始。Salyuや韓国の人気グループSS501等に作詞提供。
        br
        | 「作詞家としての自分の実力を試してみたい」という意思の元、ソニーミュージックの新人オーディション作詞家部門に匿名で応募。個性豊かな詞の綴りが評価される。その後、2007年12月“シンガー依布サラサ”としてシングル「カリキュラム」でデビュー。作詞活動のほか、シンガー、TV、ラジオ出演など活動の場を拡げる。
        br
        | 2011年より、父の故郷でありよくプライベートでも訪れていた福岡へ移住し、地元でもTV・ラジオのレギュラー番組を多く抱え、タレントとしても活躍中。現在、2人の女の子の母として、子育てに奮闘中。
        br
        | 2013年7月、井上陽水による初の提供楽曲「キャッホー」のシングルＣＤをリリース。（作曲：井上陽水、作詞：依布サラサ・井上陽水　KBC九州朝日放送「水と緑のキャンペーン」テーマソング）この曲は、愛する故郷を想い、父娘が“必然のタッグ”を組んで誕生した曲である。
        br
        | 同年には、家族との様々なエピソードを織り交ぜた初のエッセー集「長い猫と不思議な家族」を発売。
        br
        | 2014年8月より、福岡県「田川まるごと応援団長」に就任。父の出身地、田川地域のプロモーションに一役かっている。
        br
        br
        | レギュラー出演番組:
        br
        | 【テレビ】
        br
        | KBC 毎週（月-木）10:45～11:30「サワダデース」火曜コーナー担当
        br
        | 【ラジオ】
        br
        | FM NACK5毎週（月-木）23:00～23:30「GOLDEN 4 EGGS」水曜レギュラー「～依布サラサSTAR of WONDERLAND～」 / KBC毎週（月～金）9:30～13:00「ガブリナ」木曜日レギュラー
        | KBC毎週（日）23:00～23:30「音楽の時間」 / KBC（土）21:00～21:55「土曜の夜はSEXY」※ナイター中継のない土曜日 / LOVE FM 毎月第２木曜 20:00～21:00「music barララルー」
        br
        br
        | 公式WEBサイト
        br
        = link_to 'http://www.ifusarasa.com/', 'http://www.ifusarasa.com/', :target => '_blank'
