---
layout: layout

title: 'TSUSHIMA BORDER ISLAND FES 2016｜LINE-UP'
description: '国境の島で開催される、島をあげた祭り。対馬でつながる『日韓×ミュージック×テクノロジー』'
keywords: 対馬,長崎,韓国,日韓,九州,TBIF,対馬フェス,フェス,音楽,テクノロジー

og_title: 'TSUSHIMA BORDER ISLAND FES 2016｜LINE-UP'
og_type: website
og_url: 'lineup/music/zundare.html'
og_description: '国境の島で開催される、島をあげた祭り。つなぐ音、つなぐ未来 〜対馬でつながる 日韓×ミュージック×テクノロジー〜'
og_image: 'lineup/music/zundare_large.jpg'
---

main#page-top
  .page-header#guideline
    .page-header-left
      = image_tag '/images/logo_green.png', :alt => 'logo'
    .page-header-center
      .page-header-title
        .page-header-title-en.font-amatic
          | LINE-UP
        .page-header-title-jp
          | 出演者・出店
        .page-category.font-amatic
          = link_to 'PROFILE', '#performer-profile'
          | /
          = link_to 'MEDIA', '#performer-media'
    .page-header-right.font-amatic
      ol.breadcrumb.clearfix
        li
          = link_to 'HOME', 'index.html'
        li
          = link_to 'LINE-UP', 'lineup.html'
        li.current
          = link_to 'ずんだれ', '#'
    .clearfix
    .position-initial
  .page-wrapper
    .page-heading.font-amatic
      span
        | PROFILE
    #performer-profile
      .performer-name
        | ずんだれ
      // 横2100px縦1400px、横1800px縦1200px、横1500px縦1000px
      .performer-img
        = image_tag '/images/lineup/music/zundare_large.jpg', :alt => 'ずんだれ'
      .performer-profile
        | 長崎県は対馬という離島で活動する、シンガーの＠kihiro,ラッパーのSHITAN,KORYUの 2MC 1SINGER のIsrand Musicユニット。
        br
        | 島での生活や、島ならではの事を題材にした独特の歌詞でHIP HOPやRAGGAEやPOP SONG等ジャンルにこだわらない自由な音楽作りをする3ピースグループである。
        br
        | 2015年7月に発売した1st albumは島内だけで700枚以上の販売、ライブでは島内で11箇所を回るなど、今対馬では知らない人はいないといっても過言ではないアーティストになった。中でも、卒業をテーマに作った「Kizuna」はWeb上で20万回再生を突破し、対馬の学生だけではなく、全国の卒業生の卒業songになりつつある。
        br
        | 現在1st MIX CDを制作しており、7月18日リリース予定である。
      .performer-sns
        | Facebook
        br
        = link_to 'zundare.tushima', 'https://www.facebook.com/zundare.tushima', :target => '_blank'
    .page-heading.font-amatic
      span
        | MEDIA
    #performer-media
      .performer-youtube
        iframe src="https://www.youtube.com/embed/4I4r67Jh20k" frameborder="0" allowfullscreen
      .performer-youtube
        iframe src="https://www.youtube.com/embed/Ihp0-Vb10z0" frameborder="0" allowfullscreen
      .performer-article
