| <!doctype html>
html

  head
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta charset="utf-8"
    meta content="width=device-width,user-scalable=no" name="viewport"
    meta name="keywords" content="#{current_page.data.keywords}"
    meta name="description" content="#{current_page.data.description}"
    / Facebook
    meta property="og:title" content="#{current_page.data.og_title}"
    meta property="og:type" content="#{current_page.data.og_type}"
    meta property="og:locale" content="ja_JP"
    meta property="og:url" content="http://tbif.asia/#{current_page.data.og_url}"
    meta property="og:site_name" content=""
    meta property="og:description" content="#{current_page.data.og_description}"
    meta property="og:image" content="http://tbif.asia/images/#{current_page.data.og_image}"
    meta property="fb:app_id" content="1730463210562624"
    / Twitter
    meta name="twitter:card" content="summary"
    meta name="twitter:site" content="@tbif_official"
    meta name="twitter:creator" content="@tbif_official"
    meta name="twitter:domain" content="tbif.asia"
    title
      = current_page.data.title || "TSUSHIMA BORDER ISLAND FES 2016"
    / favicon
    link href="/images/favicon.ico" rel="icon"
    link href="/images/favicon.ico" rel="shortcut icon"
    link href="/images/webclip.jpg" sizes="152×152" rel="apple-touch-icon-precomposed"
    link href="//fonts.googleapis.com/earlyaccess/notosansjp.css" rel="stylesheet" type="text/css"
    link href="//fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet" type="text/css"
    link href="//fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css"
    link href="//fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css"
    link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"
    script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"
    script src="/javascripts/jquery.inview.min.js" type="text/javascript"
    script src="/javascripts/instafeed.min.js" type="text/javascript"
    script src="/javascripts/jquery.dotdotdot.js" type="text/javascript"
    script src="/javascripts/jquery.backstretch.min.js" type="text/javascript"
    script src="/javascripts/fakeLoader.min.js" type="text/javascript"
    = stylesheet_link_tag :site
    = stylesheet_link_tag :fakeLoader
    = javascript_include_tag :all
    javascript:
      var _gaq=[['_setAccount','UA-63022580-3'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

  body class="#{page_classes}"
    #fakeLoader
    = partial "share/header"
    = yield
    = partial "share/footer"

    javascript:
      $( function() {
        //////////////////////////
        // ユーザーエージェント判定 //
        //////////////////////////
        var ua = (
          function( u ) {
            return {
              Tablet:(u.indexOf("windows") != -1 && u.indexOf("touch") != -1 && u.indexOf("tablet pc") == -1)
                || u.indexOf("ipad") != -1
                || (u.indexOf("android") != -1 && u.indexOf("mobile") == -1)
                || (u.indexOf("firefox") != -1 && u.indexOf("tablet") != -1)
                || u.indexOf("kindle") != -1
                || u.indexOf("silk") != -1
                || u.indexOf("playbook") != -1,
              Mobile:(u.indexOf("windows") != -1 && u.indexOf("phone") != -1)
                || u.indexOf("iphone") != -1
                || u.indexOf("ipod") != -1
                || (u.indexOf("android") != -1 && u.indexOf("mobile") != -1)
                || (u.indexOf("firefox") != -1 && u.indexOf("mobile") != -1)
                || u.indexOf("blackberry") != -1
            }
          }
        )( window.navigator.userAgent.toLowerCase() );


        $( '#fakeLoader' ).fakeLoader({
          timeToHide: 1200, // ローディング画面が消えるまでの時間[ms]
          zIndex: 999, // z-indexの値
          spinner: "spinner1",// ローディングアニメーションの種類: 'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6', 'spinner7'
          bgColor: "#00a399", // 背景色（Hex, RGB or RGBA）
          imagePath: "/images/loading.gif" // gif画像（デフォルトのアニメーション以外を使用したい場合）
        });


        //開いた画面の高さを取得
        var WindowHeight = $(window).height();

        // WindowHeightは変数のため任意の名前をつける
        if( WindowHeight > 320 ){
          // 開いた画面が320px以上なら実行
          // body要素に高さを書き込む
          $( '.index-header' ).css( 'height',WindowHeight+'px' );
        }

        ////////////////////////////
        // トップページの背景スライド //
        ////////////////////////////
        if( ua.Mobile ) {
          $( "#index" ).backstretch( [
            "/images/bg_slide/sp/001.jpg",
            "/images/bg_slide/sp/002.jpg",
            "/images/bg_slide/sp/003.jpg",
            "/images/bg_slide/sp/004.jpg",
            "/images/bg_slide/sp/005.jpg",
            "/images/bg_slide/sp/006.jpg",
            "/images/bg_slide/sp/007.jpg",
            "/images/bg_slide/sp/008.jpg",
            "/images/bg_slide/sp/009.jpg"
          ], { duration: 3500, fade: 1000 } );
        } else {
          $( "#index" ).backstretch( [
            "/images/bg_slide/001.jpg",
            "/images/bg_slide/002.jpg",
            "/images/bg_slide/003.jpg",
            "/images/bg_slide/004.jpg",
            "/images/bg_slide/005.jpg",
            "/images/bg_slide/006.jpg",
            "/images/bg_slide/007.jpg",
            "/images/bg_slide/008.jpg",
            "/images/bg_slide/009.jpg"
          ], { duration: 3500, fade: 1000 } );
        }

        /////////////////
        // footerトグル //
        /////////////////
        $( '.nav-title, .nav-wrapper' ).on( 'click', function() {
          $( '.nav-title' ).next().slideToggle();
        });

        // .nav-wrapperの中身（ナビボタン、SNSアイコン）をクリックしても閉じないようにする
        $( '.nav-menu, .nav-sns' ).on( 'click', function( e ) {
          e.stopPropagation();
        });

        //////////////////////////////////
        // ページ内リンクのスムーズスクロール //
        //////////////////////////////////
        $( 'a[href^="#"]' ).on( 'click', function() {
          var speed = 500;
          var href= $( this ).attr( 'href' );
          var target = $( href == '#' || href == '' ? 'html' : href );
          var position = target.offset().top;

          $( 'html, body' ).animate( {scrollTop:position}, speed, 'swing' );

          return false;
        });
        /*
        $( window ).on( 'scroll touchmove', function(){ //スクロール中に判断する
          $( 'footer' ).stop(); //アニメーションしている場合、アニメーションを強制停止
          $( 'footer' ).css( 'display', 'none' ).delay( 500 ).fadeIn( 500 ); //スクロール中は非表示。停止して500ms後に800msかけて再表示
        });
        */
        //////////////////////////////
        // テキスト複数行の3点リーダー化 //
        //////////////////////////////
        //$( '.info-text-bottom' ).dotdotdot();

        ////////////////////
        // INFO LOAD MORE //
        ////////////////////
        // 最初に表示させるアイテムの数
        var news = 6;

        // 最初は非表示
        $( ".info-card:not( :lt( "+news+" ) )" ).hide();

        //クリックで表示/非表示を切り替え
        $( '.load-more' ).click( function( e ) {
           e.preventDefault();
               if( $( ".info-card:eq( "+news+" )" ).is( ":hidden" ) ) {
                 $( '.info-card:hidden' ).slideDown( 'slow' ).fadeIn( 500 );
                 $( '.load-more' ).text( 'CLOSE' );
               } else {
                 $( ".info-card:not( :lt( "+news+" ) )" ).slideUp( 'slow' ).fadeOut( 500 );
                 $( '.load-more' ).text( 'LOAD MORE' );
               }
        });

        /////////////////////////
        // Instagramの写真を取得 //
        /////////////////////////
        var loadButton = document.getElementById('load-more');

        var feed = new Instafeed({
            after: function() {
                // disable button if no more results to load
                if (!this.hasNext()) {
                    loadButton.setAttribute('disabled', 'disabled');
                }
            },

            get: 'tagged', //ハッシュタグから取得
            tagName: 'タワフェス福岡', //好きなハッシュタグを設定
            sortBy:'most-recent', //並び順
            links: true , //画像リンク取得
            limit: 20, //取得する画像数を設定
            resolution: 'low_resolution', //画像サイズを設定
            template: '<li><a href="{{link}}" target="_blank"><img src="{{image}}" /></a></li>',
            clientId: '64f29880e1c04039b0455e2a03a3ea0e' //Instagram DevelopersのクライアントID
        });

        loadButton.addEventListener('click', function() {
            feed.next();
        });

        feed.run();
      });
