@charset "utf-8";
@import "normalize";

body, header {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Questrial", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; // 相対値。基本値は16px
}

header {
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #e0e0e0;
  border-top: 1px solid #9e9e9e;
  z-index: 40;
}

h1 {
  margin-bottom: 6px;
  padding-bottom: 0;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

a:link,
a:visited {
  color: black;
}

.heading-bottom-line-black,
.heading-bottom-line-white {
  width: 30px;
  height: 4px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.heading-bottom-line-black {
  background-color: #000;
}

.heading-bottom-line-white {
  background-color: #fff;
}

.icon-title-top-line {
  width: 30px;
  height: 4px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #e74c3c;
}

.position-initial {
  position: relative;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  margin: 0;
  padding: 0;
  clear: both;
}



/* PC対応 */
@media screen and ( min-width: 769px ) {
  .index {
    width: 100%;
    overflow: hidden;

    .pattern-first {
      position: absolute;
      height: 100%;
      top: 0; // section-firstからの距離感
      left: 0;
      background-image: url( "/images/pattern.png" );
      background-repeat: repeat;
      background-attachment: scroll;
      z-index: 10;
    }

    .cover, .box-fix,
    .top-view, .info-view, .news-view, .lineup-view, .contact-view, .gallery-view,
    .box-fix, .top-box, .info-box, .news-box, .lineup-box, .contact-box, .gallery-box,
    .pattern-first, .pattern-third {
      width: 100%;
      //border: 1px solid black;
    }

    .cover {
      position: relative;
      height: 70%;
      margin: 0;
      padding: 0;
      padding-top: 70%;
      //display: block;
      color: #fff;
    }

    .top-view {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      background: url( "/images/section_first_image.jpg" ); // 750px1334px
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }

    .top-box {
      text-align: center;
      color: #fff;
      z-index: 20;
    }

    .box-fix {
      position: fixed;
      height: 20px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      line-height: 160%;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
    }

    .info-view {
      position: absolute;
      height: 710px;
      top: 100%; // section-firstからの距離感
      left: 0;
      background-color: #fff;
      z-index: 30;

      .info-box {
        height: 300px;
        top: 100%; // section-secondのtopを同じ値
        color: #000;

        .info-icon-top-sp,
        .info-icon-middle-sp,
        .info-icon-bottom-sp {
          display: none;
        }

        .info-icon-top,
        .info-icon-bottom {
          display: flex;
          display: -webkit-flex; // Safari
          align-items: center;
          -webkit-align-items: center; // Safari
          justify-content: space-around;
          -webkit-justify-content: space-around; // Safari
          align-content: stretch;
          -webkit-align-content: stretch; // Safari
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          width: 100%;
          margin: 0 auto;
          margin-bottom: 30px;

          .about-icon,
          .timetable-icon,
          .map-icon,
          .notice-icon,
          .supporter-icon,
          .archive-icon {
            img {
              width: 200px;
              height: 200px;
              //border: 3px solid black;
              //border-radius: 50%;

              &:hover {
                transition: 0.6s;
                opacity: 0.6;
              }
            }
          }
        }
      }
    }

    .news-view {
      position: absolute;
      height: 680px;
      top: calc( 710px + 100% ); // info-viewのheight+100%
      left: 0;
      background: url( "/images/section_third_image.jpg" );
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      z-index: 30;

      .news-box {
        top: calc( 710px + 100% ); // news-viewのtopを同じ値
        text-align: center; // news-innerを中央寄せするために必要
        color: #fff;

        .news-inner {
          display: inline-block; // news-innerを中央寄せするために必要
          width: 80%;
          margin-bottom: 20px;
          padding: 20px;
          background-color: rgba( 255, 255, 255, 0.6 );
          text-align: left;
          color: #000;

          .news-date {

          }

          .news-title {
            margin-top: 10px;
          }
        }

        .news-read-more {
          width: 230px;
          height: 50px;
          margin: 0 auto;
          margin-top: 20px;
          font-size: 1.1em;
          font-weight: 300;
          text-align: center;
          border: 1px solid white;

          a {
            display: inline-block;
            width: 100%;
            height: calc( 100% - 14px );
            padding-top: 14px;
            text-decoration: none;

            &:link,
            &:visited {
              color: white;
            }
          }
        }
      }
    }

    .lineup-view {
      position: absolute;
      height: 800px;
      top: calc( 710px + 680px + 100% ); // info-viewのheight+news-viewのheight+100%
      left: 0;
      background-color: white;
      z-index: 30;

      .lineup-box {
        top: calc( 710px + 680px + 100% ); // lineup-viewのtopを同じ値
        color: black;

        .lineup-inner {
          display: flex;
          display: -webkit-flex; // Safari
          align-items: flex-start;
          -webkit-align-items: flex-start; // Safari
          justify-content: center;
          -webkit-justify-content: center; // Safari
          align-content: stretch;
          -webkit-align-content: stretch; // Safari
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          width: 100%;
          margin: 0 auto;

          .lineup-card {
            display: inline-block;
            margin-left: 8px;
            margin-right: 8px;
            //border: 1px solid;

            .lineup-thumbnail {
              width: 240px;
              height: 160px;
              margin: 0, auto;
              margin-bottom: 20px;
              line-height: 160px;
              text-align: center;
              overflow: hidden;
              background-color: black;

              img {
                width: 100%;
                height: auto;
                vertical-align: middle;

                &:hover {
                  transition: 0.6s;
                  opacity: 0.6;
                }
              }
            }

            .icon-title-top-line {
              background-color: #f1c40f;
            }

            .lineup-text {
              width: 240px;

              h3 {
                margin-bottom: 20px;
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
  }

  .contact-view {
    position: absolute;
    height: 460px;
    top: calc( 710px + 680px + 800px + 100% ); // info-viewのheight+news-viewのheight+lineup-viewのheight+100%
    left: 0;
    background-color: #eee;
    z-index: 30;

    .contact-box {
      top: calc( 710px + 680px + 800px + 100% ); // gallery-viewのtopを同じ値
      text-align: center;
      color: black;

      .contact-inner {
        display: flex;
        display: -webkit-flex; // Safari
        align-items: center;
        -webkit-align-items: center; // Safari
        justify-content: center;
        -webkit-justify-content: center; // Safari
        align-content: stretch;
        -webkit-align-content: stretch; // Safari
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;

        img {
          display: inline-block;
          width: 100px;
          height: 100px;
          margin-left: 20px;
          margin-right: 20px;

          &:hover {
            transition: 0.6s;
            opacity: 0.6;
          }
        }
      }
    }
  }

  .gallery-view {
    position: absolute;
    min-height: 100%;
    top: calc( 710px + 680px + 800px + 460px + 100% ); // info-viewのheight+news-viewのheight+lineup-viewのheight+100%
    left: 0;
    background-color: black;
    z-index: 30;

    .gallery-box {
      top: calc( 710px + 680px + 800px + 460px + 100% ); // gallery-viewのtopを同じ値
      text-align: center;
      color: white;

      .gallery-inner {
        width: 100%;
        margin: 0 auto;

        #instafeed {
          width: 88%;
          margin: 0 auto;
          text-align: center;

          li {
            display: inline-block;
            width: 17%;
            margin-top: 8px;
            margin-left: 8px;
            margin-right: 8px;

            img {
              width: 100%;
            }
          }
        }

        #load-more {
          width: 230px;
          height: 50px;
          margin: 0 auto;
          margin-top: 40px;
          margin-bottom: 100px;
          text-align: center;
          font-size: 1.1em;
          font-weight: 300;
          color: white;
          border: 1px solid white;
          background-color: inherit;

          a {
            display: inline-block;
            width: 100%;
            height: calc( 100% - 14px );
            padding-top: 14px;
            text-decoration: none;

            &:link,
            &:visited {
              color: white;
            }
          }
        }
      }
    }
  }

  .nav-wrapper {
    float: left;
    width: 80%;
    //border: 1px solid;

    .nav-inner {
      display: flex;
      display: -webkit-flex; // Safari
      align-items: flex-start; // 垂直方向
      -webkit-align-items: flex-start; // Safari
      justify-content: flex-start; // 水平方向
      -webkit-justify-content: flex-start; // Safari
      align-content: stretch;
      -webkit-align-content: stretch; // Safari
      width: 100%;
      height: 64px;
      margin-top: 3px;
      margin-left: 20px;
      text-align: center;

      .nav-card {
        width: 70px;
        margin-right: 30px;
        //border: 1px solid;
        opacity: 0.6;

        .nav-icon {
          img {
            width: 44px;
            height: 44px;
            margin: 0, auto;
          }
        }

        .nav-name {
          font-size: 0.8em;
        }
      }
    }

  }

  .scroll-to-top {
    float: right;
    margin-right: 20px;
    opacity: 0.6;

    img {
      width: 50px;
      height: 50px;
      margin-top: 10px;
    }
  }
}



/* スマホ・タブレット対応 */
@media screen and ( max-width: 768px ) {
  footer {
    height: 56px;

  }

  h3 {
    font-size: 0.9em;
  }

  .index {
    width: 100%;
    overflow: hidden;

    .pattern-first {
      position: absolute;
      height: 800px; // top-viewと同じ高さ
      top: 0; // section-firstからの距離感
      left: 0;
      background-image: url( "/images/pattern.png" );
      background-repeat: repeat;
      background-attachment: scroll;
      z-index: 10;
    }

    .cover, .box-fix,
    .top-view, .info-view, .news-view, .lineup-view, .contact-view, .gallery-view,
    .box-fix, .top-box, .info-box, .news-box, .lineup-box, .contact-box, .gallery-box,
    .pattern-first, .pattern-third {
      width: 100%;
      //border: 1px solid black;
    }

    .top-view {
      position: relative;
      height: 800px;
      background-image: url( "/images/section_first_image_sp@2x.jpg" );
      background-position: center center;
      background-attachment: scroll;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;

      .top-box {
        position: absolute;
        top: 10%;
        left: auto;
        right: auto;
        text-align: center;
        color: #fff;
        z-index: 20;
      }
    }

    .box-fix {
      position: fixed;
    }

    .info-view {
      //height: 400px;
      background-color: #fff;

      .info-box {
        //height: 100px;
        text-align: center;
        color: #000;

        .info-icon-top,
        .info-icon-bottom {
          display: none;
        }

        .info-icon-top-sp,
        .info-icon-middle-sp,
        .info-icon-bottom-sp {
          display: flex;
          display: -webkit-flex; // Safari
          align-items: center;
          -webkit-align-items: center; // Safari
          justify-content: space-around;
          -webkit-justify-content: space-around; // Safari
          align-content: stretch;
          -webkit-align-content: stretch; // Safari
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          width: 100%;
          margin: 0 auto;
          margin-bottom: 30px;

          .about-icon,
          .timetable-icon,
          .map-icon,
          .notice-icon,
          .supporter-icon,
          .archive-icon {
            img {
              width: 100px;
              height: 100px;
              //border: 3px solid black;
              //border-radius: 50%;
            }
          }
        }
      }
    }

    .news-view {
      height: 800px;
      background-image: url( "/images/section_third_image_sp@2x.jpg" );
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      display: inline-block;

      .news-box {
        text-align: center;
        color: #fff;

        .news-inner {
          display: inline-block; // news-innerを中央寄せするために必要
          width: 80%;
          margin-bottom: 20px;
          padding: 20px;
          background-color: rgba( 255, 255, 255, 0.6 );
          text-align: left;
          color: #000;

          .news-date {

          }

          .news-title {
            margin-top: 10px;
          }
        }

        .news-read-more {
          width: 200px;
          height: 48px;
          margin: 0 auto;
          margin-top: 20px;
          font-weight: 300;
          text-align: center;
          border: 1px solid white;

          a {
            display: inline-block;
            width: 100%;
            height: calc( 100% - 14px );
            padding-top: 14px;
            text-decoration: none;

            &:link,
            &:visited {
              color: white;
            }
          }
        }
      }
    }

    .lineup-view {
      background-color: white;

      .lineup-box {
        color: black;

        .lineup-inner {
          display: flex;
          display: -webkit-flex; // Safari
          align-items: flex-start;;
          -webkit-align-items: flex-start; // Safari
          justify-content: center;
          -webkit-justify-content: center; // Safari
          align-content: stretch;
          -webkit-align-content: stretch; // Safari
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          width: 100%;
          margin: 0 auto;
          //margin-bottom: 30px;

          .lineup-card {
            display: inline-block;
            width: 150px;
            margin-left: 4px;
            margin-right: 4px;
            text-align: center;
            //border: 1px solid;

            .lineup-thumbnail {
              width: 150px;
              height: 100px;
              margin: 0, auto;
              margin-bottom: 20px;
              line-height: 100px;
              text-align: center;
              overflow: hidden;
              background-color: black;

              img {
                width: 100%;
                height: auto;
                vertical-align: middle;

                &:hover {
                  transition: 0.6s;
                  opacity: 0.6;
                }
              }
            }

            .icon-title-top-line {
              background-color: #f1c40f;
            }

            .lineup-text {
              width: 150px;

              h3 {
                margin-bottom: 20px;
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }

    .contact-view {
      padding-bottom: 40px;
      background-color: #eee;
      border: transparent 1px solid ;

      .contact-box {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        color: black;
        //border: 1px solid;

        .contact-inner {
          display: flex;
          display: -webkit-flex; // Safari
          align-items: center;
          -webkit-align-items: center; // Safari
          justify-content: center;
          -webkit-justify-content: center; // Safari
          align-content: stretch;
          -webkit-align-content: stretch; // Safari
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          width: 100%;
          margin: 0 auto;
          margin-bottom: 40px;
          font-size: 0.7em;

          img {
            display: inline-block;
            width: 60px;
            height: 60px;
            margin-left: 10px;
            margin-right: 10px;

            &:hover {
              transition: 0.6s;
              opacity: 0.6;
            }
          }
        }
      }
    }

    .gallery-view {
      background-color: black;
      border: transparent 1px solid ;

      .gallery-box {
        text-align: center;
        color: white;

        .gallery-inner {
          width: 100%;
          margin: 0 auto;

          #instafeed {
            width: 88%;
            margin: 0 auto;
            text-align: center;

            li {
              display: inline-block;
              width: 40%;
              margin-top: 8px;
              margin-left: 8px;
              margin-right: 8px;

              img {
                width: 100%;
              }
            }
          }

          #load-more {
            width: 200px;
            height: 48px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 80px;
            text-align: center;
            font-weight: 300;
            color: white;
            border: 1px solid white;
            background-color: inherit;

            a {
              display: inline-block;
              width: 100%;
              height: calc( 100% - 14px );
              padding-top: 14px;
              text-decoration: none;

              &:link,
              &:visited {
                color: white;
              }
            }
          }
        }
      }
    }

    .nav-wrapper {
      float: left;
      width: 80%;
      //border: 1px solid;

      .nav-inner {
        display: flex;
        display: -webkit-flex; // Safari
        align-items: flex-start; // 垂直方向
        -webkit-align-items: flex-start; // Safari
        justify-content: flex-start; // 水平方向
        -webkit-justify-content: flex-start; // Safari
        align-content: stretch;
        -webkit-align-content: stretch; // Safari
        width: 100%;
        height: 64px;
        margin-top: 4px;
        margin-left: 6px;
        text-align: center;

        .nav-card {
          width: 50px;
          margin-right: 4px;
          //border: 1px solid;
          opacity: 0.6;

          .nav-icon {
            img {
              width: 30px;
              height: 30px;
              margin: 0, auto;
            }
          }

          .nav-name {
            font-size: 0.6em;
          }
        }
      }

    }

    .scroll-to-top {
      float: right;
      margin-right: 10px;
      opacity: 0.6;

      img {
        width: 34px;
        height: 34px;
        margin-top: 11px;
      }
    }
  }
}
