---
layout: layout

title: 'TSUSHIMA BORDER ISLAND FES 2017｜ACCESS'
description: '「あじわう、つしま。」をテーマにした、国境の島で開催されるフェスティバル'
keywords: 対馬,長崎,韓国,日韓,九州,フェス,音楽,テクノロジー

og_title: 'TSUSHIMA BORDER ISLAND FES 2017｜ACCESS'
og_type: website
og_url: 'access.html'
og_description: '「あじわう、つしま。」をテーマにした、国境の島で開催されるフェスティバル'
og_image: 'ogp.jpg'
---

main#page-top
  .page-header#guideline
    .page-header-left
      = image_tag '/images/logo_black.png', :alt => 'logo'
    .page-header-center
      .page-header-title
        .page-header-title-en.font-amatic
          | ACCESS
        .page-header-title-jp
          | アクセス・会場マップ
      .page-category.font-amatic
        = link_to 'ACCESS', '#access'
      /  | /
        = link_to 'AREA MAP', '#area-map'
    .page-header-right.font-amatic
      ol.breadcrumb.clearfix
        li
          = link_to 'HOME', 'index.html'
        li.current
          = link_to 'ACCESS', '#'
    .clearfix
    .position-initial
  .page-wrapper
    .page-heading.font-amatic
      span
        | ACCESS
    #access
      .venue-map
        iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3292.5999772344353!2d129.311208214777!3d34.386093080516446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3569762452eda8d7%3A0xef245e4283adeb!2z5rWF6IyF44K344O844K144Kk44OJ44OR44O844Kv!5e0!3m2!1sja!2sjp!4v1465911709839" width="800" height="600" frameborder="0" style="border:0" allowfullscreen
      .how-to-access
        h2.access-heading
          | 島外から対馬へのアクセス
        .heading-under-bar-black
        .access-detail
          h4
            | 東京から
          .path-diagram
            = link_to "#{image_tag '/images/access/from_tokyo.png', :alt => 'From Tokyo'}", '/images/access/from_tokyo.png'
          br
          | 各施設への詳細なアクセス方法等は下記リンクを参照してください。
          br
          = link_to '福岡空港', 'http://www.fuk-ab.co.jp/', :target => '_blank'
          br
          = link_to 'ベイサイドプレイス', 'http://www.baysideplace.jp/access/', :target => '_blank'
          br
          = link_to '九州郵船', 'https://www.kyu-you.co.jp/', :target => '_blank'
          br
          = link_to '対馬空港', 'http://tsushima-airport.co.jp/', :target => '_blank'
        h2.access-heading
          | 車でのご来場方法
        .heading-under-bar-black
        .access-detail
          h4
            | 厳原方面から
          | 国道382号線を北上〜豊玉町仁位にある根津菓子舗付近の交差点を左折〜県道232号線を直進〜
          | 豊玉小学校前の橋を渡り右折〜200mほど進むと浅茅シーサイドパークへ到着
          br
          | （所要時間: 約50分）
          br
          br
          | ※浅茅シーサイドパーク内には駐車できませんので、指定の駐車場に停車してください。
        .access-detail
          h4
            | 比田勝方面から
          | 国道382号線を南下〜豊玉町仁位にある根津菓子舗付近の交差点を右折〜県道232号線を直進〜
          | 豊玉小学校前の橋を渡り右折〜200mほど進むと浅茅シーサイドパークへ到着
          br
          | （所要時間: 約1時間30分）
          br
          br
          | ※浅茅シーサイドパーク内には駐車できませんので、指定の駐車場に停車してください。
        /.access-detail
          h4
            | 駐車場
          | 下記施設へ無料でご利用いただけます。台数に限りがありますので、お早めにお越しください。
          br
          h5
            | 対馬市立豊玉診療所（約60台）
          .parking-map
            iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1646.235155873272!2d129.31335664847512!3d34.38938998648516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e2858c3fcd075a8!2z5a--6aas5biC56uL6LGK546J6Ki655mC5omA!5e0!3m2!1sja!2sjp!4v1474961814976" width="800" height="600" frameborder="0" style="border:0" allowfullscreen
          h5
            | 対馬市社会福祉協議会（約60台）
          .parking-map
            iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1646.2426679072992!2d129.31278497580686!3d34.38900799510499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDIzJzIwLjQiTiAxMjnCsDE4JzUwLjAiRQ!5e0!3m2!1sja!2sjp!4v1474962810232" width="800" height="600" frameborder="0" style="border:0" allowfullscreen
          h5
            | 救世主教九州地区第十二本部（約30台）
          .parking-map
            iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d823.1207680939842!2d129.31266695861024!3d34.38906554394125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3569762378e9921f%3A0x653654ce05bb0b94!2z44CSODE3LTEyMDEg6ZW35bSO55yM5a--6aas5biC6LGK546J55S65LuB5L2N77yZ77yS4oiS77yXIOaVkeS4luS4u-aVmeS5neW3nuWcsOWMuuesrOWNgeS6jOacrOmDqA!5e0!3m2!1sja!2sjp!4v1474962901886" width="600" height="450" frameborder="0" style="border:0" allowfullscreen
          h5
            | 対馬市立豊玉小学校 グラウンド（約100台）
          .parking-map
            iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3292.46220049156!2d129.311466918021!3d34.38959621599898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcd8638d8894e24c9!2z5a--6aas5biC56uL6LGK546J5bCP5a2m5qCh!5e0!3m2!1sja!2sjp!4v1474425760373" width="800" height="600" frameborder="0" style="border:0" allowfullscreen
          h5
            | スーパーサイキ豊玉店 第二駐車場（約15台）
          .parking-map
            iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d823.0485652260999!2d129.31680048808798!3d34.39640799877617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDIzJzQ3LjEiTiAxMjnCsDE5JzAyLjUiRQ!5e0!3m2!1sja!2sjp!4v1474426217883" width="800" height="600" frameborder="0" style="border:0" allowfullscreen
      /.how-to-access
        h2.access-heading
          | シャトルバスでのご来場方法
        .heading-under-bar-black
        .access-detail
          iframe src="https://drive.google.com/file/d/0ByONTbCC9ipOR1F3eVd3X1hGOVU/preview" frameborder="0"
          br
          br
          | 各バス停所在地
          br
          br
          b
            | 《仁位》
          | 長崎県対馬市豊玉町仁位1295-1
          br
          b
            | 《対馬空港》
          | 長崎県対馬市美津島町鶏知乙440
          br
          b
            | 《関商店前》
          | 長崎県対馬市美津島町鷄知乙490−1
          br
          b
            | 《旧中対馬病院前》
          | 長崎県対馬市美津島町鶏知甲1304-1
          br
          b
            | 《ふれあい処つしま前》
          | 長崎県対馬市厳原町今屋敷672-1
          br
          b
            | 《対馬市役所横》
          | 長崎県対馬市厳原町国分1441
          br
          b
            | 《厳原港》
          | 長崎県対馬市厳原町東里341-42
          br
          b
            | 《内山》
          | 長崎県対馬市厳原町内山256
          br
          b
            | 《豆酘》
          | 長崎県対馬市厳原町豆酘626
          br
          b
            | 《佐須奈》
          | 長崎県対馬市上県町佐須奈乙931
          br
          b
            | 《比田勝》
          | 長崎県対馬市上対馬町比田勝650-3
          br
          b
            | 《国際ターミナル》
          | 長崎県対馬市上対馬町比田勝958-16
      /.how-to-access
        h2.access-heading
          | その他公共交通機関でのご来場方法
        .heading-under-bar-black
        .access-detail
          | 路線バスご利用の方は、こちらの時刻表をご覧ください。
          br
          iframe src="https://drive.google.com/file/d/0B7SxL13nw8YnTUhRbkNRX3lZb3M/preview" frameborder="0"
    /.page-heading.font-amatic
      span
        | AREA MAP
    /#area-map
      .area-map
        = image_tag '/images/areamap.jpeg', :alt => 'areamap'
        .view-pdf
          = link_to 'PDFで見る', '/images/areamap.pdf', :target => '_blank'
