---
layout: layout

title: 'TSUSHIMA BORDER ISLAND FES 2017｜STAFF'
description: '「あじわう、つしま。」をテーマにした、国境の島で開催されるフェスティバル'
keywords: 対馬,長崎,韓国,日韓,九州,フェス,音楽,テクノロジー

og_title: 'TSUSHIMA BORDER ISLAND FES 2017｜STAFF'
og_type: website
og_url: 'staff.html'
og_description: '「あじわう、つしま。」をテーマにした、国境の島で開催されるフェスティバル'
og_image: 'ogp.jpg'
---

main#page-top
  .page-header#staff
    .page-header-left
      = image_tag '/images/logo_black.png', :alt => 'logo'
    .page-header-center
      .page-header-title
        .page-header-title-en.font-amatic
          | STAFF
        .page-header-title-jp
          | 運営スタッフ
    .page-header-right.font-amatic
      ol.breadcrumb.clearfix
        li
          = link_to 'HOME', 'index.html'
        li.current
          = link_to 'STAFF', '#'
    .clearfix
    .position-initial
  .page-wrapper
    /.page-heading.font-amatic
      span
        | VOLUNTEERS
    /.contact-form
      iframe src="https://drive.google.com/file/d/0B4lYwIMDxzOoS21GX2xGdVRsN00/preview" frameborder="0"
      /
        .pc
          iframe src="https://docs.google.com/forms/d/e/1FAIpQLScvh-ZUKx3sU6NZYpVGE7L1PbAnxISaFADdP_-0aetMX2302Q/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0"
        .sp
          = link_to '運営スタッフ応募フォーム', 'https://docs.google.com/forms/d/e/1FAIpQLScvh-ZUKx3sU6NZYpVGE7L1PbAnxISaFADdP_-0aetMX2302Q/viewform', :target => '_blank'
    .page-heading.font-amatic
      span
        | STAFF
    #staff
      // 写真は横480px縦320px or 横600px縦400px
      .staff-list
        .staff-card
          = image_tag '/images/staff/shinsho.jpg', :alt => 'shinsho'
          .staff-name
            | 新庄 清孝
            br
            | shinsho kiyotaka
          .staff-detail
            .staff-position
              | 共同実行委員長
            .staff-country
              | 対馬市在住
            .staff-campany
              =link_to '対馬バーガー KIYO', 'https://www.facebook.com/tb.kiyo', :target => '_blank'
            .staff-sns
              = image_tag '/images/staff/facebook.png', :alt => 'Facebook'
              = link_to 'tsushimaburger.kiyo', 'https://www.facebook.com/tsushimaburger.kiyo', :target => '_blank'
              .clearfix
            .staff-sns
              = image_tag '/images/staff/twitter.png', :alt => 'Twitter'
              = link_to '@kiyo3sun', 'https://twitter.com/kiyo3sun', :target => '_blank'
              .clearfix
        .staff-card
          = image_tag '/images/staff/komiya.jpg', :alt => 'komiya'
          .staff-name
            | 小宮 大輔
            br
            | komiya daisuke
          .staff-detail
            .staff-position
              | 共同実行委員長
            .staff-country
              | 福岡県在住 / 対馬市出身
            .staff-campany
              =link_to 'umeebe Inc. ', 'http://umee.be/', :target => '_blank'
              |  /
              =link_to ' ロックの夜明け ', 'http://rocknoyoake.com', :target => '_blank'
              |  /
              =link_to ' 明星和楽', 'http://2015.myojowaraku.net/', :target => '_blank'
            .staff-sns
              = image_tag '/images/staff/facebook.png', :alt => 'Facebook'
              = link_to 'd.komiya1120', 'https://www.facebook.com/d.komiya1120', :target => '_blank'
              .clearfix
            .staff-sns
              = image_tag '/images/staff/twitter.png', :alt => 'Twitter'
              = link_to '@daisuke1120', 'https://twitter.com/daisuke1120', :target => '_blank'
              .clearfix
        .staff-card
          = image_tag '/images/staff/itose.jpg', :alt => 'itose'
          .staff-name
            | 糸瀬 宏昭
            br
            | itose hiroaki
          .staff-detail
            .staff-position
              | 副実行委員長
            .staff-country
              | 長崎県在住 / 対馬市出身
            .staff-campany
              = link_to '長崎県', 'https://www.pref.nagasaki.jp/', :target => '_blank'
            .staff-sns
              = image_tag '/images/staff/facebook.png', :alt => 'Facebook'
              = link_to 'amy.syndrome906', 'https://www.facebook.com/amy.syndrome906', :target => '_blank'
              .clearfix
        .staff-card
          = image_tag '/images/staff/takesue.jpg', :alt => 'takesue'
          .staff-name
            | 竹末 明広
            br
            | takesue akihiro
          .staff-detail
            .staff-position
              | ステージマネージャー
            .staff-country
              | 長崎県在住 / 対馬市出身
            .staff-campany
              =link_to 'ずんだれ', 'https://www.facebook.com/zundare.tushima/', :target => '_blank'
            .staff-sns
              = image_tag '/images/staff/facebook.png', :alt => 'Facebook'
              = link_to 'akihiro.takesue', 'https://www.facebook.com/akihiro.takesue', :target => '_blank'
              .clearfix
        .staff-card
          = image_tag '/images/staff/yamasaki.jpg', :alt => 'yamasaki'
          .staff-name
            | 山崎 裕一
            br
            | yamasaki yuichi
          .staff-detail
            .staff-position
              | 会場設営マネージャー
            .staff-country
              | 対馬市在住
            .staff-campany
              |
            .staff-sns
              = image_tag '/images/staff/facebook.png', :alt => 'Facebook'
              = link_to 'aratana.jibunwo', 'https://www.facebook.com/aratana.jibunwo.sagasimasu', :target => '_blank'
              .clearfix
        .staff-card
          = image_tag '/images/staff/amada.jpg', :alt => 'amada'
          .staff-name
            | 尼田 聖輝
            br
            | amada kiyoteru
          .staff-detail
            .staff-position
              | デザイナー
            .staff-country
              | 福岡県在住
            .staff-campany
              =link_to 'アマダマングラフィカ ', 'http://www.amadaman.com/', :target => '_blank'
              |  /
              =link_to ' 明星和楽', 'http://2015.myojowaraku.net/', :target => '_blank'
            .staff-sns
              = image_tag '/images/staff/facebook.png', :alt => 'Facebook'
              = link_to 'amadaman0201', 'https://www.facebook.com/amadaman0201', :target => '_blank'
              .clearfix
            .staff-sns
              = image_tag '/images/staff/twitter.png', :alt => 'Twitter'
              = link_to '@amadaman', 'https://twitter.com/amadaman', :target => '_blank'
              .clearfix
        .staff-card
          = image_tag '/images/staff/hosoda.jpg', :alt => 'hosoda'
          .staff-name
            | 細田 理史
            br
            | hosoda satoshi
          .staff-detail
            .staff-position
              | スタッフ
            .staff-country
              | 対馬市在住 / 山口県出身
            .staff-campany
              = link_to '対馬市CATV', 'http://www.tcctv.ne.jp/', :target => '_blank'
            .staff-sns
              = image_tag '/images/staff/facebook.png', :alt => 'Facebook'
              = link_to 'satoshi.hosoda.5', 'https://www.facebook.com/satoshi.hosoda.5', :target => '_blank'
              .clearfix
        .staff-card
          = image_tag '/images/staff/kuramoto.jpg', :alt => 'kuramoto'
          .staff-name
            | 蔵本 准平
            br
            | kuramoto jumpei
          .staff-detail
            .staff-position
              | スタッフ
            .staff-country
              | 徳島県在住
            .staff-campany
            .staff-sns
              = image_tag '/images/staff/facebook.png', :alt => 'Facebook'
              = link_to 'jumpei.kuramoto', 'https://www.facebook.com/jumpei.kuramoto', :target => '_blank'
              .clearfix
            .staff-sns
              = image_tag '/images/staff/twitter.png', :alt => 'Twitter'
              = link_to '@tsushimadoko', 'https://twitter.com/tsushimadoko', :target => '_blank'
              .clearfix
        .staff-card
          = image_tag '/images/staff/takata.jpg', :alt => 'takata'
          .staff-name
            | 髙田 あゆみ
            br
            | takata ayumi
          .staff-detail
            .staff-position
              | スタッフ
            .staff-country
              | 対馬市在住 / 東京都出身
            .staff-campany
              = link_to '島おこし協働隊', 'https://www.facebook.com/tsushimarangers', :target => '_blank'
            .staff-link
              = link_to 'http://ayuintsushima.tumblr.com/', 'http://ayuintsushima.tumblr.com/', :target => '_blank'
        .staff-card
          = image_tag '/images/staff/sakamoto.jpg', :alt => 'sakamoto'
          .staff-name
            | 坂本 拓也
            br
            | sakamoto takuya
          .staff-detail
            .staff-position
              | スタッフ
            .staff-country
              | 対馬市在住 / 壱岐市出身
            .staff-campany
            .staff-sns
              = image_tag '/images/staff/facebook.png', :alt => 'Facebook'
              = link_to 'takuya.sakamoto', 'https://www.facebook.com/profile.php?id=100008463731413', :target => '_blank'
        .staff-card
          = image_tag '/images/staff/deshimaru.jpg', :alt => 'deshimaru'
          .staff-name
            | 弟子丸 優希
            br
            | deshimaru yuki
          .staff-detail
            .staff-position
              | スタッフ
            .staff-country
              | 対馬市在住 / 山口県出身
            .staff-campany
            .staff-sns
              = image_tag '/images/staff/facebook.png', :alt => 'Facebook'
              = link_to 'yuki.deshimaru.1', 'https://www.facebook.com/yuki.deshimaru.1', :target => '_blank'
        .staff-card
          = image_tag '/images/staff/kotoh.jpg', :alt => 'kotoh'
          .staff-name
            | たかまっちょ
            br
            | takamaccho
          .staff-detail
            .staff-position
              | スタッフ
            .staff-country
              | 対馬市在住
            .staff-campany
              | フリーター
            .staff-sns
              = image_tag '/images/staff/twitter.png', :alt => 'Twitter'
              = link_to '@music_kopow', 'https://twitter.com/music_kopow', :target => '_blank'
              .clearfix
            .staff-sns
              = image_tag '/images/staff/instagram.png', :alt => 'Instagram'
              = link_to 'music_kopow', 'https://www.instagram.com/music_kopow/', :target => '_blank'
        .staff-card
          = image_tag '/images/staff/mina.jpg', :alt => 'mina'
          .staff-name.padding
            | mina
            br
            br
          .staff-detail
            .staff-position
              | スタッフ
            .staff-country
              | 対馬市在住
            .staff-campany
        .staff-card
          = image_tag '/images/staff/oishi.jpg', :alt => 'oishi'
          .staff-name
            | 大石 早希
            br
            | oishi saki
          .staff-detail
            .staff-position
              | スタッフ
            .staff-country
              | 対馬市在住
            .staff-campany
        .staff-card
          = image_tag '/images/staff/suku.jpg', :alt => 'hyun'
          .staff-name
            | すく
            br
            | suku
          .staff-detail
            .staff-position
              | スタッフ
            .staff-country
              | 対馬市在住 / 韓国出身
            .staff-campany
              |
            .staff-sns
              = image_tag '/images/staff/instagram.png', :alt => 'Instagram'
              = link_to 'suku.kim', 'http://instagram.com/suku.kim', :target => '_blank'
        .staff-card
          = image_tag '/images/staff/abiru.jpg', :alt => 'abiru'
          .staff-name
            | 阿比留 梨乃
            br
            | abiru rino
          .staff-detail
            .staff-position
              | スタッフ
            .staff-country
              | 対馬市在住
            .staff-campany
              | 
            .staff-sns
              = image_tag '/images/staff/instagram.png', :alt => 'Instagram'
              = link_to 'ouri8', 'https://www.instagram.com/ouri8/', :target => '_blank'

