---
layout: layout

title: 'TSUSHIMA BORDER ISLAND FES 2017｜TICKET'
description: '「あじわう、つしま。」をテーマにした、国境の島で開催されるフェスティバル'
keywords: 対馬,長崎,韓国,日韓,九州,フェス,音楽,テクノロジー

og_title: 'TSUSHIMA BORDER ISLAND FES 2017｜TICKET'
og_type: website
og_url: 'ticket.html'
og_description: '「あじわう、つしま。」をテーマにした、国境の島で開催されるフェスティバル'
og_image: 'ogp.jpg'
---

main#page-top
  .page-header#ticket
    .page-header-left
      = image_tag '/images/logo_black.png', :alt => 'logo'
    .page-header-center
      .page-header-title
        .page-header-title-en.font-amatic
          | TICKET
        .page-header-title-jp
          | チケット
      .page-category.font-amatic
        = link_to 'FOR ADMISSION', '#admission-ticket'
        | /
        = link_to 'FOR BUS', '#bus-ticket'
    .page-header-right.font-amatic
      ol.breadcrumb.clearfix
        li
          = link_to 'HOME', 'index.html'
        li.current
          = link_to 'TICKET', '#'
    .clearfix
    .position-initial
  .page-wrapper
    .page-heading.font-amatic
      span
        | FOR ADMISSION
    #admission-ticket
      .ticket-box
        .ticket-type
          .ticket-type-title
            | 入場券
          .ticket-price
            | ¥4,000
        .ticket-details
          .ticket-details-title
            | チケット詳細
          .ticket-details-text
            | ・どなたでもご購入できます。
          .ticket-details-title
            | 発売日
          .ticket-details-text
            | 7/16（土） 10:00〜
          .ticket-details-title
            | 購入方法
          .how-to-buy-ticket
            .ticket-service
              .ticket-service-img
                = image_tag '/images/ticket/eplus.png', :alt => 'e+'
              .ticket-service-text
                | e+（イープラス）
                br
                = link_to 'http://sort.eplus.jp/sys/T1U14P0010163P0108P002196796P0050001P006001P0030001', 'http://sort.eplus.jp/sys/T1U14P0010163P0108P002196796P0050001P006001P0030001', :target => '_blank'
                br
                | ※入場時は、受付にて発券済みのチケットをご提示ください。
              .clearfix
            .ticket-service
              .ticket-service-img
                = image_tag '/images/ticket/peatix.png', :alt => 'Peatix'
              .ticket-service-text
                | Peatix（ピーティックス）
                br
                = link_to 'http://tbif2016.peatix.com/', 'http://tbif2016.peatix.com/', :target => '_blank'
                br
                | ※入場時は、受付にて購入済みの電子チケット画面をご提示ください。
                .clearfix
        .clearfix
      .ticket-box
        .ticket-type
          .ticket-type-title
            | （島内限定）
            br
            | 入場券
          .ticket-price
            | ¥3,000
        .ticket-details
          .ticket-details-title
            | チケット詳細
          .ticket-details-text
            | ・対馬在住者のみご購入できます。
          .ticket-details-title
            | 発売日
          .ticket-details-text
            | 7/2（土） 10:00〜
          .ticket-details-title
            | 購入方法
          .how-to-buy-ticket
            .ticket-service
              .ticket-service-img
                = image_tag '/images/ticket/tsushima.png', :alt => 'e+'
              .ticket-service-text
                | 島内指定販売店舗での購入
                br
                | 【対馬バーガーKIYO 厳原店・比田勝店 / スーパーサイキ 美津島店・豊玉店 /
                | スーパーバリュー タケスエ 比田勝店 / バリュースタジアム タケスエ 大浦店】
                br
                br
                | ※入場時は、受付にて購入済みのチケットをご提示ください。
              .clearfix
        .clearfix
      .ticket-box
        .ticket-type
          .ticket-type-title
            | （島内限定）
            br
            | 学割入場券
          .ticket-price
            | ¥2,000
        .ticket-details
          .ticket-details-title
            | チケット詳細
          .ticket-details-text
            | ・対馬在住の小学生、中学生、高校生のみご購入できます。
            br
            | ・購入の際は、学生と証明できるもの（学生証、在学証明書、または保険証などの氏名と年齢が確認できるもの）をご提示ください。
          .ticket-details-title
            | 発売日
          .ticket-details-text
            | 7/2（土） 10:00〜
          .ticket-details-title
            | 購入方法
          .how-to-buy-ticket
            .ticket-service
              .ticket-service-img
                = image_tag '/images/ticket/tsushima.png', :alt => 'e+'
              .ticket-service-text
                | 島内指定販売店舗での購入
                br
                | 【対馬バーガーKIYO 厳原店・比田勝店 / スーパーサイキ 美津島店・豊玉店 /
                | スーパーバリュー タケスエ 比田勝店 / バリュースタジアム タケスエ 大浦店】
                br
                br
                | ※入場時は、受付にて購入済みのチケットと、学生と証明できるもの（学生証、在学証明書、または保険証などの氏名と年齢が確認できるもの）
                | をご提示ください。
              .clearfix
        .clearfix
    .page-heading.font-amatic
      span
        | FOR BUS
    #bus-ticket
      | Comming Soon･･･
