---
layout: layout

title: 'TSUSHIMA BORDER ISLAND FES 2016｜LINE-UP'
description: '国境の島で開催される、島をあげた祭り。対馬でつながる『日韓×ミュージック×テクノロジー』'
keywords: 対馬,長崎,韓国,日韓,九州,TBIF,対馬フェス,フェス,音楽,テクノロジー

og_title: 'TSUSHIMA BORDER ISLAND FES 2016｜LINE-UP'
og_type: website
og_url: 'lineup/tech/ieiri.html'
og_description: '国境の島で開催される、島をあげた祭り。つなぐ音、つなぐ未来 〜対馬でつながる 日韓×ミュージック×テクノロジー〜'
og_image: 'lineup/tech/ieiri_large.jpg'
---

main#page-top
  .page-header#guideline
    .page-header-left
      = image_tag '/images/logo_green.png', :alt => 'logo'
    .page-header-center
      .page-header-title
        .page-header-title-en.font-amatic
          | LINE-UP
        .page-header-title-jp
          | 出演者・出店
        .page-category.font-amatic
          = link_to 'PROFILE', '#performer-profile'
    .page-header-right.font-amatic
      ol.breadcrumb.clearfix
        li
          = link_to 'HOME', 'index.html'
        li
          = link_to 'LINE-UP', 'lineup.html'
        li.current
          = link_to '家入一真', '#'
    .clearfix
    .position-initial
  .page-wrapper
    .page-heading.font-amatic
      span
        | PROFILE
    #performer-profile
      .performer-name
        | 家入一真
      // 横2100px縦1400px、横1800px縦1200px、横1500px縦1000px, 横900px縦600px
      .performer-img
        = image_tag '/images/lineup/tech/ieiri_large.jpg', :alt => '家入一真'
      .performer-profile
        | 1978年、福岡県生まれ。CAMPFIRE代表、起業家。
        br
        | 学生時代、いじめがきっかけでひきこもりに。就職後も対人関係に悩み「誰も会わずに仕事がしたい」と起業を決意。
        br
        | 自宅でレンタルサーバーサービス「ロリポップ！」を提供開始。株式会社paperboy&co.（現GMOペパボ）を創業後、2008年、当時最年少でジャスダック市場へ上場。退任後は「CAMPFIRE」「BASE」などのウェブサービスを立ち上げ、取締役に就任。
        | 渋谷「ON THE CORNER」などのカフェ運営も。悩める若者の立場に立ち、現代の駆け込み寺「リバ邸」などを精力的に展開。2014年東京都知事選挙に出馬し、主要候補に次ぎ88,936票を得る。
        br
        | 著書に『さよならインターネット』（中公新書ラクレ）、『新装版こんな僕でも社長になれた』（イースト・プレス）、『お金が教えてくれること』（大和書房）、『もっと自由に働きたい』（ディスカヴァー・トゥエンティワン）など。
        br
        br
        | - コメント -
        br
        | あるカラオケアプリで世界中の人たちがワンフレーズずつ１つの曲を歌ってるの聴いて感動したんですよ。ああ、これこそインターネットだなあって。音楽は言語を超え、インターネットは国境を越えるのだ。やばいLOVE & PEACE & INTERNET！
        br
        br
        | 関連WEBサイト等
        br
        = link_to 'https://camp-fire.jp/', 'https://camp-fire.jp/', :target => '_blank'
        br
        = link_to 'http://ieiri.net/', 'http://ieiri.net/', :target => '_blank'
        br
        = link_to 'https://twitter.com/hbkr', 'https://twitter.com/hbkr', :target => '_blank'
